// Colors

$primary: hsl(35, 77%, 62%);
$primary-alt: hsl(5, 85%, 63%);

$off-white: hsl(36, 100%, 99%);
$grey-blue-100: hsl(233, 8%, 79%);
$grey-blue-700: hsl(236, 13%, 42%);
$grey-blue-900: hsl(240, 100%, 5%);

$white: #ffffff;
