// Colors

$background: #f2f2f2;

$blue: #0A327B;
$red: #F65552;
$snow: #F7FAFD;
$white: #ffffff;

$grey_blue-100: #DDE7EE;
$grey_blue-300: #E5EFFA;
$grey_blue-500: #939CAD;
$grey_blue-700: #5E6778;
$grey_blue-900: #1C202B;
