// Text styles

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 500 900;
}

$min-header: 900 20px 'Plus Jakarta Sans', sans-serif;
$min-body-bold: 900 14px 'Plus Jakarta Sans', sans-serif;
$min-body: 500 14px 'Plus Jakarta Sans', sans-serif;

$header: 900 24px 'Plus Jakarta Sans', sans-serif;
$body-bold: 900 16px 'Plus Jakarta Sans', sans-serif;
$body: 500 16px 'Plus Jakarta Sans', sans-serif;